{% extends "base.html" %} 

{% block body %} 
		<h2>Restaurants</h2>
		<div class="restaurant-content-wrapper">
			<div class="filters-container">
				<ul>
					<li>
						<input type="checkbox" id="checkbox1" name="checkbox1" checked />
    				<label for="checkbox1">🍔🍔🍔🍔</label>
					</li>
					<li>
						<input type="checkbox" id="checkbox2" name="checkbox2"  />
    				<label for="checkbox2">🍕🍕🍕🍕</label>
					</li>
					<li>
						<input type="checkbox" id="checkbox3" name="checkbox3"  />
    				<label for="checkbox3">🍟🍟🍟🍟</label>
					</li>
					<li>
						<input type="checkbox" id="checkbox4" name="checkbox4"  />
    				<label for="checkbox4">🌮🌮🌮🌮</label>
					</li>
				</ul>
			</div>

			{% include "components/restaurant_list.html" %}

		</div>
{% endblock %}


{% block javascript %}
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const viewButtons = document.querySelectorAll('.view-btn');

				viewButtons.forEach(button => {
						button.onclick = function() {
								const restaurantId = button.dataset.restaurantId;
								window.location.href = `/restaurants/${restaurantId}`;
						}
				});
    });
</script>
{% endblock %}
