{% extends "base.html" %} 

{% block body %} 
		<h2>Restaurants</h2>
		<div class="restaurant-content-wrapper">
			<div class="filters-container">
				<form action="{% url 'index' %}" method="get">
					{% csrf_token %}
					<ul>
						<li>
							<input type="checkbox" id="Fast Food" name="type" value="Fast Food" />
							<label for="Fast Food">🍔 Fast Food</label>
						</li>
						<li>
							<input type="checkbox" id="Cafe" name="type" value="Cafe" />
							<label for="Cafe">☕ Cafe</label>
						</li>
						<li>
							<input type="checkbox" id="Bar" name="type" value="Bar" />
							<label for="Bar">🍸 Bar</label>
						</li>
						<li>
							<input type="checkbox" id="Pizzeria" name="type" value="Pizzeria" />
							<label for="Pizzeria">🍕 Pizzeria</label>
						</li>
						<li>
							<input type="submit" value="Reset" class="btn btn-outline-primary" />
							<input type="submit" value="Filter" class="btn btn-primary" />
						</li>
					</ul>
				</form>
			</div>

			{% include "components/restaurant_list.html" %}

		</div>
{% endblock %}


{% block javascript %}

{% endblock %}
