<nav>
	<div class="nav-container">
		<h3 id="brand">E-Moji</h3>
	
		<div class="nav-links">
			{% if user.is_authenticated %}
				<a class="btn btn-link" href="{% url 'logout' %}">Logout</a>
				<a class="btn btn-link" href="{% url 'index' %}">Home</a>
			{% else %}
				<a class="btn btn-link" href="{% url 'login' %}">Login</a>
				<a class="btn btn-link" href="{% url 'register' %}">Register</a>
				<a class="btn btn-link" href="{% url 'index' %}">Home</a>
			{% endif %}
			
		</div>
		</div>
		
		
</nav>

<script>
    document.getElementById("brand").onclick = function() {
        window.location.href = "/"; 
    };
</script>
