<style>
	@media (max-width: 768px) {
		.nav-container {
			flex-direction: column;
		}

	}
</style>

<nav>
	<div class="nav-container">
		<h3 id="brand">E-Moji</h3>
	
		<div class="nav-links">
			{% if user.is_authenticated %}
			
				<a class="btn btn-link" href="{% url 'index' %}">Home</a>
				<a class="btn btn-link" href="{% url 'create_restaurant' %}">Create Restaurant</a>
				{% if user.restaurants.all %}
				<a class="btn btn-link" href="{% url 'my_restaurants' %}">My Restaurants</a>
				<a class="btn btn-link" href="{% url 'logout' %}">Logout</a>
				{% endif %}
		
			{% else %}
				<a class="btn btn-link" href="{% url 'login' %}">Login</a>
				<a class="btn btn-link" href="{% url 'register' %}">Register</a>
				<a class="btn btn-link" href="{% url 'index' %}">Home</a>
			{% endif %}
			
		</div>
		</div>
		
		
</nav>

<script>
    document.getElementById("brand").onclick = function() {
        window.location.href = "/"; 
    };
</script>
